<!DOCTYPE html>
<html>
<head>
  <title>Comm+Unity</title>
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>