* {
  box-sizing: border-box;
  /* color: green; */
}


#container {
  position: relative;
  width: 100%;
}

.column-left {
  width: 20%;
  display: inline-block;
  background-color: #CCC;
}

.column-middle {
  width: 40%;
  display: inline-block;
  background-color: #777777;
}

.column-right {
  width: 40%;
  display: inline-block;
  background-color: #AAA;
}